{%  extends 'base.html' %}

{% block center %}
    <div class="question text-monospace">
        {% if object %}
            <h1 class="text-dark">{{object.question}}</h1>
            <p> by <small>{{object.author}}</small>
                  at   <small>{{object.updated.date}}</small>
                    in <small>{{object.get_genre_display}}</small>
            </p>
        </div>
        {% endif %}
        <div class="p-2 px-3">
        <a href="{% url 'answer' object.slug %}" class="btn btn-outline-success p-2 m-2 ">Add Answer</a>
        {% if object.author == request.user %}<a href="{% url 'delete_question' object.slug %}" class="btn btn-outline-danger p-2 m-2 ">Delete Question</a>
        {% endif %}
        </div>
        <!-- <div class="" style="min-height:200px;border-top:1px solid black;-webkit-background-origin: ;
        background-origin: ;rder-left:1px solid black;border-right:1px solid black"> -->
            {% if answer_list %}
                {% for ans in answer_list %}
                    <div class="row shadow p-3 text-monospace pt-2 mb-3" style="padding:10px, border:1px solid black; ">
                        <div class="col-lg-2 col-sm-2 px-4   text-success " >{{ans.author.username|title}}:-</div>
                        <div class="col-lg-8  col-sm-3">{{ans.answer|linebreaks}}</div>
                        <div class="col-lg-2  col-sm-3">
                            {% if ans.author == request.user %}
                            <a href="{% url 'delete_answer' object.slug ans.author.id %}" class="btn-link btn-outline-danger btn text-danger text-decoration-none">Delete</a>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="lead">Comments and answers will be shown here !!!</p>

            {% endif %}
        <!-- </div> -->

{% endblock %}
