<!Doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Revalia&display=swap" rel="stylesheet">

    <title>Hello</title>
  </head>
  <body>
    <div class="w-1 p-1 bg-info  pb-2 mb-3" >
    <!-- background: linear-gradient( 0.50turn, white, teal, orange);" -->
    <nav style="font-family: 'Revalia', cursive;" >
      <div class="nav-right  text-white d p-3"><span class="shadow p-3 circle" style="border-radius: 50%;background-color: #D3D3D3;">Quora Clone</span>
        <nav class="text-justify ">
        <ul class="nav justify-content-center">
        <li class="nav-item"><a href="{%url 'home' %}" class="nav-link text-decoration-none text-light home">Home</a>
        </li>
        <li class="nav-item">
        <a href="{%url 'question' %}" class="nav-link text-decoration-none text-light">Ask</a>
        </li>
        <li class="nav-item">
        <a href="{%url 'profile' %}" class="nav-link text-decoration-none text-light">profile</a>
        </li>
        <li class="nav-item">
        <a href="{%url 'u_list' %}" class="nav-link text-decoration-none text-light">all users</a>
        </li>
        </ul>
        </nav>


      <form action="" class="form text-center ">
              <input class="searchField" type="text" placeholder="Search !...">
      </form>
      </div>
    </nav>
    <h4 class="text-white px-5"><em  class="p-2" style="font-size: 2rem;">{{request.user.username|title}}</em></h4>
    </div>
    <div class="container text-justify ">
      <div class="messages pt-2 mt-2 mb-2 text-center">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
        </div>

      <div class="row ">
        <div class="col-md-2  p-4 ">
          <!-- <div class="content   bg-dark row  text-left p-auto pb-1 pt-2 " >
            <h2><a href="{%url 'home' %}" class="btn-link text-decoration-none col-lg-1">Home</a></h2>
            <hr>
            <h2><a href="{% url 'question' %}" class="text-decoration-none col-lg-1">Ask</a></h2>
            <hr>
            <h2><a href="{% url 'profile' %}" class="text-decoration-none col-lg-1">Profile</a></h2>
          </div>
 -->
        </div>
        <div class="col-md-8 p-2 bg-white">
          {% block center %}
          World
          {% endblock %}
        </div>
        <div class="col-md-2 p-4 left-side">
          {% block left %}
          There
          {% endblock %}
        </div>
      </div>
    </div>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        $(document).ready(function(){
        {% block domready %}
        {% endblock %}
        });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
